# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgres://default:HcQTfWGr8te0@ep-super-glade-a1eby6n3.ap-southeast-1.aws.neon.tech:5432/verceldb?sslmode=require"
NEXT_PUBLIC_API_URL=http://localhost:8888
APP_SECRET="9VZw33fbRQYIDtXXKrTU5onPKmBOfOUHvs3b16HQEHhcIyYpHnhYinaNBw="
